.accordion__content {

    display: block;

    max-height: 0;
    transition: $speed max-height cubic-bezier(0, 1, 0, 1);
    overflow: hidden;

    &.opened {
        max-height: 5000px;
        transition: max-height $speed ease-out;
    }

}

