.accordion__content {

    max-height: 0;
    transition: $speed all cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
    visibility: hidden;

}

.opened .accordion__content {
    max-height: 1000px;
    visibility: visible;
    transition: $speed all ease-in-out;
}

